<!DOCTYPE html>
<html>
<head>
  <title>RailsTab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'common/navbar' %>
<%= render 'common/flash' %>

<%= yield %>

</body>
</html>
